# Byte-compiled / optimized / DLL files
__pycache__/

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env

# test files
test*.py